{% extends "base.html" %}

    {% block main %}
        


            <!-- Page Heading -->
            <section class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Ошибка 404</h1>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Heading / End -->

            <!-- PAGE TITLE -->
    <div class="container m-bot-15 clearfix">
        <div class="sixteen columns">
            <div class="page-title-container clearfix">
               
              
            </div>  
        </div>
    </div>  

    

            <!-- Page Content -->
            <section class="page-content">
                <div class="container">
{% block content %}

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h2 class="error-title">404</h2>
                            <h3>Какая незадача. Страница, к которой вы пытаетесь обратиться, не существует.</h3>
                            <p class="error-desc">Вы можете почитать <a href="/stories">истории</a> или послушать <a href="/radio">радиопередачи</a></p>
                        </div>
                    </div>

                    <div class="spacer-lg"></div>

                </div>
            </section>
{% endblock content %}

            <!-- Page Content / End -->

          {% endblock main %}


