<!DOCTYPE html>
<html lang="en">
<head>
{% load my %}

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% get title %}Наша летопись. История страны в судьбах людей.</title>

		<!-- Meta Tags -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="{% get description %}Мы собираем и записываем рассказы пожилых людей о своей жизни, выпускаем передачи на радио, а также помогаем пожилым людям в трудной ситуации." />
		<meta name="keywords" content="{% get keywords %} рассказы стариков, рассказы пожилых, рассказы о великой отечественной войне, помочь пожилым, помочь дому престарелых, пожилые люди, активное долголетие, наша летопись, история страны в судьбах людей" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:title" content="{% get title %}Наша летопись. История страны в судьбах людей. "/> 
		<meta property="og:description" content="{% get description %}Мы собираем и записываем рассказы пожилых людей о своей жизни, выпускаем передачи на радио, а также помогаем пожилым людям в трудной ситуации."/> 
		<meta property="og:image" content="{% get image %}" />




	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

	<!-- Google Web Fonts
	================================================== -->

	{% load compress %}

	<!-- CSS
	================================================== -->
	<!-- Base + Vendors CSS -->
{% compress css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}vendor/owl-carousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}vendor/owl-carousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}vendor/magnific-popup/magnific-popup.css" media="screen">
	<link rel="stylesheet" href="{{ STATIC_URL }}vendor/mediaelement/mediaelementplayer.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}vendor/rs-plugin/css/settings.css" media="screen">

	<!-- Theme CSS-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/theme-elements.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/animate.min.css">

	<!-- Skin CSS -->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/skins/red.css">
	
	<!-- Custom CSS-->
	<link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
{% endcompress %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/hovers.css">
	<!-- Head Libs -->
	<script src="{{ STATIC_URL }}vendor/modernizr.js"></script>

	<!--[if lt IE 9]>
		<link rel="stylesheet" href="{{ STATIC_URL }}vendor/rs-plugin/css/settings-ie8.css" media="screen">
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="{{ STATIC_URL }}vendor/respond.min.js"></script>
	<![endif]-->

	<!--[if IE]>
		<link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css">
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}images/apple-touch-icon-144x144.png">
	
</head>
<body class="boxed bg1">

	<div class="site-wrapper">
		
		<!-- Header -->
		<header class="header header-default">

{% include "topmenu.html" %}

			<div class="header-main">
				<div class="container">
					<!-- Logo -->
					<div class="logo">
						<!-- <a href="index.html"><img src="images/logo.png" alt="Stability"></a> -->
						<h1><a href="/">Наша летопись</a></h1>
						<p class="tagline">История страны в судьбах людей</p>
					</div>
					<!-- Logo / End -->

					<button type="button" class="navbar-toggle">
			        <i class="fa fa-bars"></i>
			      </button>

			      <!-- Navigation -->
			      <nav class="nav-main">
            {% load sitetree %}
                 {% sitetree_menu from "actualmenu" include "trunk" template "mainmenu.html" %}

				</nav>
					<!-- Navigation / End -->
					
				</div>
			</div>
			
		</header>
		<!-- Header / End -->

		<!-- Main -->
		<div class="main" role="main">

{% block main %}
	
{% endblock main %}


{% include "footer.html" %}
			
		</div>
		<!-- Main / End -->
	</div>
	
	




{% compress js %}
	
	<!-- Javascript Files
	================================================== -->
	<script src="{{ STATIC_URL }}vendor/jquery-1.11.0.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/bootstrap.js"></script>
		{% endcompress %}
	<script src="{{ STATIC_URL }}vendor/jquery.flexnav.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/jquery.hoverIntent.minified.js"></script>
	<script src="{{ STATIC_URL }}vendor/isotope/jquery.isotope.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="{{ STATIC_URL }}vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/jquery.fitvids.js"></script>
	<script src="{{ STATIC_URL }}vendor/jquery.appear.js"></script>
	<script src="{{ STATIC_URL }}vendor/jquery.stellar.min.js"></script>
	<script src="{{ STATIC_URL }}vendor/snap.svg-min.js"></script>
	<script src="{{ STATIC_URL }}vendor/mediaelement/mediaelement-and-player.min.js"></script>

	<script src="{{ STATIC_URL }}js/custom.js"></script>

	<script type="text/javascript" src="//yandex.st/share/share.js"
charset="utf-8"></script>
 <script>
 new Ya.share({
        element: 'ya_share_top',
        theme: 'counter',
            elementStyle: {
                'type': 'button',
                'border': true,
                'quickServices':  [ 'facebook', 'twitter', 'vkontakte', 'gplus']},
            title: 'Наша летопись. История страны в судьбах людей.',
            link: 'http://nashaletopis.ru',
            image: '{{ STATIC_URL }}images/dove.jpg',
            description: 'Мы записываем и собираем истории жизни пожилых людей и их воспоминания. Присоединяйтесь!',
            serviceSpecific: {
                twitter: {
                    title: '#НашаЛетопись'
               },

        }
});
 </script>


	{% block customjs %}
		
	{% endblock customjs %}

</body>
</html>


