<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script type="text/javascript">
var myMap;

// Дождёмся загрузки API и готовности DOM.
ymaps.ready(init);

function init () {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map").
    myMap = new ymaps.Map('map', {
        // При инициализации карты обязательно нужно указать
        // её центр и коэффициент масштабирования.
        center: [54.76, 39.64], // Москва
        zoom: 4,
        controls: ['zoomControl'],
        mode: 'debug', 
    });
myMap.behaviors.disable('scrollZoom');
 myMap.geoObjects

   {% for item in object_list %}

    

               .add(new ymaps.Placemark([{{item.location.address}}], {
            balloonContent: '<div><strong>{{item.title|striptags}}</strong></div><div>{{item.text|truncatewords:"10"|striptags}}</div><a href="{{item.get_absolute_url}}">Подробнее...</a>'
        }, {
            preset: 'islands#icon',
            iconColor: 'green'
        }))



 {% endfor %}
        
}


</script>