                         {% load taggit_extras %}
                        {% if periods %}
                            {% get_taglist as tags for 'stories.story' %}
                            {% else %}
                             {% get_taglist as tags for 'stories.storyactive' %}
                        {% endif %}

                        {% if tags %}
                            
                        
 <div class="widget_tag_cloud widget widget__sidebar">
                                <h3 class="widget-title">Метки</h3>
                                <div class="widget-content">
                        <div class="tagcloud">

                        
                        {% for tag in tags %}
                            <a href="/stories/{% if not periods %}active/{% endif %}tags/{{tag.slug}}">{{tag.name}}</a>
                        {% endfor %}
                                    </div>
                                </div>
                            </div>        

                            {% endif %}